h2 {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 180%;
    color: #000;
    /*color: #478fcc; blue*/
    padding-bottom: 13px;
    padding-top: 5px;
}

h1 {
    text-align: left;
    font-family: 'protipo', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000; 
    padding-bottom: 5px;
    padding-top: 5px;

.imgh {
    text-align: center;
}
h4 {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-family: Montserrat,sans-serif;*/
    font-weight: bold;
    font-size: 135%;
    color: #000;
    padding-left: 5px;
    padding-bottom: 1px;
    max-width: 90%;
    margin: 0 auto !important; 
    float: none !important; ;
}

body{
    width:1250px;
    max-width: 100%
	text-align: center;
    margin: 0 auto;
    font-size: 21px; 
}