/*color: #478fcc; blue*/

/* h2 {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 180%;
    color: #000;
    padding-bottom: 13px;
    padding-top: 5px;
}*/ 

/*.imgh {
    text-align: center;
}*/

h1 {
    text-align: left;
    font-family: 'monarcha',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 230%;
    color: #000; 
    padding-left: 1px;
    line-height: 15%;
}

/* highlight font*/
h2 {
    font-family: 'futura-pt',sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 100%;
}

h3 {
    font-family: 'houschka-pro',sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    line-height: 140%;
}

/*h6 is the body text*/
h6 {
    text-align: justify;
    font-family: 'degular',sans-serif;
    font-weight: 300;
    font-size: 90%;
    font-style: normal;
    color: #000; 
    line-height: 140%;
}

/*global rules*/
.center {
    text-align: justify;
}

/* row1 is the heading; row2 starts from the images*/
/* column0 is the left-side things; column1-3 is the right-side things*/
.column0 {
    width: 220px;
    padding-left: 150px;
    float: left;
}

.row1 {
    width: 1000px;
    padding-top: 50px;
    padding-left: 200px;
}

.row2 {
    width: 1000px;
    padding-top: 50px;
}

.column1 {
    width: 300px;
    padding-left: 200px;
    float: left;
}

.column2 {
    width: 300px;
    padding-left: 30px;
    float: left;
}

.column3 {
    width: 300px;
    padding-left: 30px;
    float: left;
}

.box {
    background-color: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}